<div class="col-md-6">
	<h5> 
		<mat-form-field>
			<input matInput placeholder="Buscar..." [(ngModel)]="searchText" (ngModelChange)="inputChange($event)">
		</mat-form-field>
	</h5>
</div>
<div class=".col-md-6 right">
	<h5>
		<mat-form-field >
		  <mat-select placeholder="Ordenar por: " [(ngModel)]="field" (ngModelChange)="selectChange($event)" [value]="selected">
		    <mat-option value="price">Precio</mat-option>
		    <mat-option value="quantity">Cantidad</mat-option>
		    <mat-option value="available">Disponibles</mat-option>
		  </mat-select>
		</mat-form-field>
	</h5>
</div>