.basket {
	width: 250px;
	position: fixed; 
	right: 20px;

	z-index: 10;

}
button {
	width: 100%;
}
.right {
	text-align: right;
}
.title {
	font-weight: bold;
}
p {
	margin:0;
}
.subtotal {
	margin-top: 15px;
}
.mat-card-title {
	margin-bottom: 10px;
	font-size: 14px;
}
hr {
    margin-top: 2px;
    margin-bottom: 10px;
}
.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title {
    display: block;
    margin-bottom: 5px;
}