.basket {
	width: 320px;
	position: fixed; 
	right: 65px;
	z-index: 10;

}
.mat-card:not([class*=mat-elevation-z]) {
	width: 320px;
}
button {
	width: 100%;
}
.right {
	text-align: right;
}
.title {
	font-weight: bold;
}
p {
	margin:0;
}
.subtotal {
	margin-top: 15px;
}
.mat-card-title {
	margin-bottom: 10px;
	font-size: 14px;
}
hr {
    margin-top: 2px;
    margin-bottom: 10px;
}
.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title {
    display: block;
    margin-bottom: 5px;
}

@media(max-width: 600px) {
	.basket {
		width: 320px;
		position: fixed; 
		right: auto !important;
		left: auto !important;
		z-index: 10;

	}
}