<div class="basket container" *ngIf="show">
  <mat-card >
    <mat-card-header>
      <mat-card-title><h4>Tu orden en el Baraton es</h4></mat-card-title>
    </mat-card-header>
    <hr>

    <mat-card-content>
    <div class="row">
      
    </div>
    <div class="row">
      <div class="col-xs-2"> <mat-card-title>1</mat-card-title> </div>
        <div class="col-xs-7">
          <mat-card-title>Producto</mat-card-title>
        </div>
        <div class="col-xs-3">
          <mat-card-subtitle>$27.300</mat-card-subtitle>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 subtotal">
              <p><small class="title">Subtotal:</small> <small class="amount">$&nbsp;27.300</small></p>
              <p>
                 <small class="title">Domicilio:</small>
                 <small class="amount">
                    $0
                 </small>
              </p>
        </div>
      </div>
       <div class="row">
        <hr>
         <div class="col-xs-12 right">
           <div class="resume-checkout">
             <div class="total-checkout">
                <p class="title">Total a pagar</p>
                <p class="price">$27.300</p>
             </div>
          </div>
         </div>
         <hr>
       </div>
    
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Ir al carrito</button>
    </mat-card-actions>
  </mat-card>
</div>