<h4>Categorias</h4>
<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let cat of data.categories" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>{{cat.name}} </h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <ul *ngFor="let sublevel of cat.sublevels">
         <li><button mat-button (click)="verifychecked(sublevel.id)">{{sublevel.name}}</button></li>
         <li>
           <ul *ngFor="let secondlevel of sublevel.sublevels">
              <li><button mat-button (click)="verifychecked(secondlevel.id)">{{secondlevel.name}}</button></li>
              <li>
                <ul *ngFor="let thirdlevel of secondlevel.sublevels">
                <li><button mat-button (click)="verifychecked(thirdlevel.id)">{{thirdlevel.name}}</button></li>
              </ul>
              </li>
            </ul>
         </li>
      </ul>


  </mat-expansion-panel>
</mat-accordion>
<div class="margin"></div>

<!-- <h4>Precios</h4>
	<mat-slider
        [max]="max"
        [min]="min">
    </mat-slider>

  <mat-form-field class="margin"> 
    <input matInput type="number" placeholder="Min" [(ngModel)]="min">
  </mat-form-field>
  <mat-form-field class="margin">
    <input matInput type="number" placeholder="Max" [(ngModel)]="max">
  </mat-form-field>
<div class="margin"></div> -->

 