.container-card {
	min-height: 290px;
}
.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled], .mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child {
	display: block;
    margin-bottom: 10px;
    width: 100%;
}
.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled] {
	margin-left: 0;
}

.mat-card:not([class*=mat-elevation-z]) {
	width: 100%;
	margin: 3px;
}